{% extends 'front/base.html' %}

{% load i18n %}
{% load account %}

{% block title %}Login{% endblock %}

{% block mystyle %}
    <style type="text/css">
        .middle {
            margin-top: 110px;
            margin-bottom: 110px;
            padding: 100px 50px 50px 50px;
            background-color: white;
            border-radius: 15px;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

        }

        .login {
            margin-left: 20px;
        }

        .btn {
            border-radius: 28px;
        }

        input::placeholder {
            font-size: 12px;
        }

        a, a:link, a:visited, a:hover, a:active {
            text-decoration: none;
            color: inherit;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="middle mx-auto h-75 w-75">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <img class="rounded img-fluid" src="{% static 'front/imgs/admin-login.jpg' %}" alt="登录页面">
                </div>
                <div class="col col-12 col-md-6" style="font-size: 14px;">
                    <div class="login">
                        <h5 class="font-weight-bold mb-3">注册</h5>

                        <form action="{% url 'account_signup' %}" method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <li><a href="#id_{{ field.name }}"
                                                       class="error">{{ error|escape }}</a></li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}
                            {% endif %}

                            <div class="form-group">
                                <label for="{{ form.username.id_label_tag }}" class="sr-only">用户名:</label>
                                <input type="text" class="form-control" id="{{ form.username.id_label_tag }}"
                                       name="{{ form.username.name }}" placeholder="用户名"
                                       {% if form.username.value %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
                                       required>
                            </div>

                            <div class="form-group">

                                <label for="{{ form.email.id_label_tag }}" class="sr-only">邮箱:</label>
                                <input type="email" class="form-control" id="{{ form.email.id_label_tag }}"
                                       name="{{ form.email.name }}" placeholder="邮箱"
                                       {% if form.email.value %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                                       required>
                            </div>

                            <div class="form-group">

                                <label for="{{ form.password1.id_label_tag }}" class="sr-only">密码</label>
                                <input type="password" class="form-control" id="{{ form.password1.id_label_tag }}"
                                       name="{{ form.password1.name }}"
                                       placeholder="密码" required>
                            </div>
                            <div class="form-group">

                                <label for="{{ form.password2.id_label_tag }}" class="sr-only">密码确认</label>
                                <input type="password" class="form-control" id="{{ form.password2.id_label_tag }}"
                                       name="{{ form.password2.name }}"
                                       placeholder="密码确认" required>
                            </div>

                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}

                            <div class="form-group">
                                <div class="text-right" style="font-size: 14px; color: #007bff;">
                                    <a href="{% url 'account_login' %}">已有账号?</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block w-75 mx-auto">注 册</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}